doctype html
html(lang="en")
head
  include head.jade
body
  include nav.jade

  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      h1 Bluemix Content Microservice
      p.lead Upload new content assets to be discovered in the Bluemix Community and product pages.
      p.clearfix 
      
      div#error
      
      form(method="post",onsubmit="return checkLogin();")
        div.form-group
          label(for="password") Password
          input.form-control(id="password",type="password",name="password")
        button.btn.btn-default(type="submit") Submit


  script(type="text/javascript").
    $( document ).ready(function() {
      // jump to a url ending in a slash e.g. /api/v1/content/ not /api/v1/content
      if(!window.location.href.match(/\/$/)) {
        window.location.href=window.location.href+"/";
      }

    });