doctype html
html(lang="en")
head
  include head.jade
body
  include nav.jade

  div.container
    div.header
      h3.text-muted
      
    div.jumbotron
      h1 Dev Center
      p.lead Upload new articles to CDS Dev Center
      p.clearfix 
      
      div#error
      
      form(method="post",onsubmit="return checkLogin();")
        div.form-group
          label(for="password") Password
          input.form-control(id="password",type="password",name="password")
        button.btn.btn-default(type="submit") Submit


