doctype html
html(lang="en")
head
  include head.jade
body
  include nav.jade

  div.container
      
    h2 Create new provisional document
    div
      form(id="provisional",onsubmit="return submitProvisional();")
        div.form-group
          input.form-control(id="url",type="url",name="url",value="",placeholder="Enter URL here")
        div.form-group#error
        button.btn.btn-default(type="submit") Submit
      
    hr 
    
    h2 Create new document \(all fields\)
    div
      a.btn.btn-default(href="/doc") Create New Document
      
    h2 Existing documents
    ul
      - for(var i in docs.rows) {
        - if (!docs.rows[i].id.match(/^_design/))
          li 
            - var d = docs.rows[i].doc;
              a(href="/doc/#{d._id}") #{d.name} (#{d.type})  
            - }


