
.muted {
  color: #aaa;
  font-style: italic;
}

#editor {
  height: 60vh;
  width: 100%;
}

.theme_dark .button_primary.disabled,
.theme_dark .button_primary[disabled] {
    background-color: #41d6c3;
    cursor: not-allowed;
    opacity: 0.5;
}

.theme_dark .button_secondary.disabled,
.theme_dark .button_secondary[disabled] {
    background-color: inherit;
    cursor: not-allowed;
    opacity: 0.5;
}

.tabbed-panel_tab.ui-state-active {
  background-color: #f9f9fb;
  border-top: 2px solid #008571;
  opacity: initial;
}

.tabbed-panel_panel.bg_light-tint {
  background-color: #f9f9fb;
}

.ui-tabs-anchor:focus {
  outline: none;
}

.type_link {
  cursor: pointer;	
}

.input_text.disabled,
.input_text[disabled],
.input_text[readonly] {
  /*background-color: #d3d9dd;*/
  color: #777777;
  font-style: italic;
}

li.active {
    background-color: #f0f2f4;
    box-shadow: 8px 0 0 0 #5aaafa inset;
}

.bootstrap-tagsinput {
	font-size: 14px;
	font-size: .875rem;
	border: 1px solid #d3d9dd;
  border-radius: 0px;
  box-shadow: initial;
	color: black;
	display: block;
	width: 100%;
	padding: 6px 0 6px 12px;
	padding: .375rem 0 .375rem .75rem;
}

.bootstrap-tagsinput .tag {
  background-color: #41d6c3;
  border-radius: 2px;
  color: #ffffff;
  margin-right: 2px;
  padding: 5px 10px;
}

.input_text,
.input_select,
.ms-options-wrap > button:focus,
.ms-options-wrap > button,
.ms-options-wrap > .ms-options,
.bootstrap-tagsinput {
  max-width: 60%;
}

.ms-options-wrap > button {
  border: 1px solid #d3d9dd;
  color: #000000;
  min-height: 32px;
  white-space: normal;
}

.ms-options-wrap > button:focus {
  border: 1px solid #0699cc;
  color: #000000;
}

.ms-options-wrap > button:after {
  border: none;
  color: #ffffff;
  content: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.7px' height='8.7px'%3E%3Cpolygon fill='%23000000' points='7.3,8.7 0,1.4 1.4,0 7.3,5.9 13.2,0 14.7,1.4 '/%3E%3C/svg%3E");
  margin-top: -7px;
  right: 25px;
}

.ms-options {
  min-height: initial !important;
}

.ms-options > ul {
  color: #264a60;
  font-size: 0.9em;
}

.ms-options-wrap > .ms-options > ul li.selected label {
  background-color: #ffffff;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
  color: #006d5d;
  text-transform: initial;
}